*{
    margin: 0;
    padding: 0;

}
body{

    height: 100%;
}
.input_container{
    position: absolute;
    width: 50%;
    top: 25%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}
.addButton{
    width: 10%;
    margin: 10px;
    padding:10px;
    border:none;
    border-radius: 10px;
}
#main{
    
    background-image: url(https://www.offshore-technology.com/wp-content/uploads/sites/6/2019/12/shutterstock_680239339-e1576673758291.jpg );
    background-size: cover;
    background-repeat: no-repeat;
}
.data_container{
    position:absolute;
    top: 30%;
    left:10%;
    width: 56%;
    padding-top: 30px;

}

.item{
    display: flex;
    flex-direction: row;

}

.item_input{

    width: 100%;
    padding: 10px;
    margin: 10px;
    border:none;
    border-radius: 10px;
    font-size: 25px;

}
.editButton{

    width: 10%;
    margin: 10px;
    padding:10px;
    border:none;
    border-radius: 10px;
}
.removeButton{

    
    width: 10%;
    margin: 10px;
    padding:10px;
    border:none;
    border-radius: 10px;
    
}